please edit the Solutions.java don't delete the existing method add your own method below with some comments

study the git remote commands pushing from your local and pulling to your local repository

also try to study svn commands checkout, push, pull
